In [1]:
import pandas as pd

In [67]:
df = pd.read_csv("/home/jovyan/work/csv/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [68]:
df = df.drop(['PassengerId','Name', 'Ticket', 'Cabin'], axis=1)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [69]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [46]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [70]:
df['Sex'] = df['Sex'].map({'male':0, 'female':1})
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    0  22.0      1      0   7.2500        S
1         1       1    1  38.0      1      0  71.2833        C
2         1       3    1  26.0      0      0   7.9250        S
3         1       1    1  35.0      1      0  53.1000        S
4         0       3    0  35.0      0      0   8.0500        S

In [48]:
df.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [71]:
df.Embarked = df.Embarked.fillna('S')
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [72]:
Embarked_d = pd.get_dummies(df.Embarked, prefix="port", dummy_na=False)
df = pd.concat([df, Embarked_d], axis=1)
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,port_C,port_Q,port_S
0,0,3,0,22.0,1,0,7.2500,S,False,False,True
1,1,1,1,38.0,1,0,71.2833,C,True,False,False
2,1,3,1,26.0,0,0,7.9250,S,False,False,True
3,1,1,1,35.0,1,0,53.1000,S,False,False,True
4,0,3,0,35.0,0,0,8.0500,S,False,False,True

In [73]:
df.port_C = df.port_C.astype(int)
df.port_Q = df.port_Q.astype(int)
df.port_S = df.port_S.astype(int)
df = df.drop(['Embarked'], axis = 1)
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  port_C  port_Q  port_S
0         0       3    0  22.0      1      0   7.2500       0       0       1
1         1       1    1  38.0      1      0  71.2833       1       0       0
2         1       3    1  26.0      0      0   7.9250       0       0       1
3         1       1    1  35.0      1      0  53.1000       0       0       1
4         0       3    0  35.0      0      0   8.0500       0       0       1

In [74]:
X = df.drop(['Survived'], axis = 1)
Y = df.Survived
X.isnull().sum()

Pclass      0
Sex         0
Age       177
SibSp       0
Parch       0
Fare        0
port_C      0
port_Q      0
port_S      0
dtype: int64

In [103]:
df_male_age_mean = df[df['Sex']==0].Age.mean()
df_female_age_mean = df[df['Sex']==1].Age.mean()
print(f'df_male_age_mean = {df_male_age_mean}\ndf_female_age_mean = {df_female_age_mean}')

df_male_age_mean = 30.72664459161148
df_female_age_mean = 27.915708812260537

In [94]:
X.loc[(X.Age.isna())&(X.Sex == 0), 'Age'] = df_male_age_mean
X.loc[(X.Age.isna())&(X.Sex == 1), 'Age'] = df_female_age_mean

In [96]:
X.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
port_C    0
port_Q    0
port_S    0
dtype: int64

In [102]:
X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  port_C  port_Q  port_S
0       3    0  22.0      1      0   7.2500       0       0       1
1       1    1  38.0      1      0  71.2833       1       0       0
2       3    1  26.0      0      0   7.9250       0       0       1
3       1    1  35.0      1      0  53.1000       0       0       1
4       3    0  35.0      0      0   8.0500       0       0       1

In [100]:
round(X.Age, 0)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [105]:
len(X_train)

596

In [106]:
len(X_test)

295

In [107]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier(max_depth=3)
model_tree.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=3)

In [115]:
from sklearn.tree import export_graphviz
export_graphviz(model_tree, feature_names=['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare','port_C','port_Q','port_S'], out_file = 'tree.dot', filled=True)

In [120]:
y_predict = model_tree.predict(X_test)

In [122]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, y_predict)

0.8203389830508474

In [125]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression(max_iter=10)

In [126]:
model_lr.fit(X_train, Y_train)

/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=10)

In [127]:
y_lr_predict = model_lr.predict(X_test)

In [129]:
accuracy_score(Y_test, y_lr_predict)

0.6983050847457627